<html>
    <head>
        <META charset="UTF-8">
        <TITLE>Internet</TITLE>
        <link href="/internet/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="/internet/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/internet/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <style>
            .divcentre {
                position: absolute;
                top: 45%;
                left:50%;
                transform: translate(-50%,-50%);
            }

            .rotate180 {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }

        </style>
    </head>
    <body>
    <div style="margin-top: 1%; margin-left: 1%">
        <a class="btn btn-default btn-lg grey" href="{{url_for('logout')}}">
            <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>&nbsp;&nbsp;Log Out
        </a>
    </div>
    <div class="container" style="margin-top: 5%">
        <div class="jumbotron">
            <div class="container for-about text-center">
                 <h1>404</h1>
                 <p>No s'ha trobat la pàgina solicitada</p>
                 <img src="/internet/static/css/img/ladybug.png" class="rotate180" width="18%" height="15%">
            </div>
        </div>
        <div>
            <hr>
            <div class="row" style=" margin: 0 20px">
                <div class="col-sm-2 col-md-2 col-xs-4 col-lg-3">
                </div>
                    <div class="col-sm-8 col-md-8 col-xs-4 col-lg-6 text-center">
                    <!--
                            <p>info@isard.io</p>
                            <p><i>Licensed under GPL v3 license</i></p>
                    -->
                            <h3>Authors:</h3>
                            <b>Alberto Larraz Dalmases</b><br>
                            (alberto.larraz@gmail.com)<br>
                            <b>Josep Maria Viñolas Auquer</b><br>
                            (vinolasbcn@gmail.com)<br>
                            <b>Alex Miranda Gonzalez</b><br>
                            (amirandagon@gmail.com)<br>
                            <b>Miriam Melina Gamboa Valdez</b><br>
                            (melinav98@gmail.com)

                    </div>
                <div class="col-sm-2 col-md-2 col-xs-4 col-lg-3">
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
