<html>
    <head>
        <META charset="UTF-8">
        <TITLE>Internet</TITLE>
        <link href="/internet/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="/internet/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/internet/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <style>
            .divcentre {
                position: absolute;
                top: 45%;
                left:50%;
                transform: translate(-50%,-50%);
            }
        </style>
    </head>
    <body>
        <div style="margin-top: 1%; margin-left: 1%">
            <a class="btn btn-default btn-lg grey" href="{{url_for('logout')}}">
                <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>&nbsp;&nbsp;Log Out
            </a>
        </div>
        <div class="row" style=" margin: 0 20px">
          <br>
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="text-align:center;">
                <img src="/internet/static/css/img/ladybug.png" width="110px" height="95px">
            </div>
        </div>
        <br>
        <div class="row" style=" margin: 0 20px">
          <div class="col-sm-2 col-md-2 col-xs-4 col-lg-3">
          </div>
          <div class="col-sm-8 col-md-8 col-xs-4 col-lg-6 jumbotron" style="background-image: url(/css/img/isard.svg); background-size: 100%;">
            <div class="container for-about">
                 <h1>Isard Orchestrator</h1>
                 <p>A platform to orchestrate your virtual desktops.</p>
                 <div class="col-lg-6">
                   <p>Open Source code that will allow you to:</p>
                   <li>Create desktops and get it running in seconds.</li>
                   <li>Start your personal desktop.</li>
                   <li>Share your desktop as a template for other users.</li>
                   <li>Connect your usb devices seamlessly.</li>
                   <li>Incremental disk images which reduces storage.</li>
                   <li>Stand-alone Isard hypervisor/nas storage.</li>
                   <li>Orchestrate multiple Isard hypervisors with scalation.</li>
                   <li>Much more to come!</li>
                </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-xs-4 col-lg-3">
          </div>
        </div>
        <hr>
        <div class="row" style=" margin: 0 20px">
          <div class="col-sm-2 col-md-2 col-xs-4 col-lg-3">
          </div>
          <div class="col-sm-8 col-md-8 col-xs-4 col-lg-6 text-center">
            <!--
            		<p>info@isard.io</p>
            		<p><i>Licensed under GPL v3 license</i></p>
            -->
            		<h3>Authors:</h3>
            		<b>Alberto Larraz Dalmases</b><br>
                    (alberto.larraz@gmail.com)<br>
            		<b>Josep Maria Viñolas Auquer</b><br>
                    (vinolasbcn@gmail.com)
          </div>
          <div class="col-sm-2 col-md-2 col-xs-4 col-lg-3">
          </div>
        </div>
    </body>
</html>
