<!DOCTYPE html>
<html lang="en">

    <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
    
        <title>Internet</title>

		<link href="/internet/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="/internet/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/internet/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="/internet/static/bower_components/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet">
        <script src="/internet/static/bower_components/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
        <script src="/internet/static/bower_components/pnotify/dist/js/pnotify.custom.min.js"></script>
        <link href="/internet/static/bower_components/pnotify/dist/css/pnotify.custom.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <link type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
        <style>

            td.details-control {
                background: url('/internet/static/css/img/angle-arrow-down.svg') no-repeat center center;
                background-size: 10%;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('/internet/static/css/img/angle-arrow-up.png') no-repeat center center;
                background-size: 10%;
                cursor: pointer;
            }

            #add {
              display: inline-block;
              padding-left: 30px;
              float: left;
              width:50%;
              text-align: center;
            }

        </style>
        <script src="/internet/static/js/admin.js"></script>
    </head>
    <body>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="margin-top:1%">
            <ul class="nav navbar-nav navbar-right" style="margin-right:2%">
                <li>
                    <button class="btn btn-default btn-lg grey" data-toggle="dropdown" aria-expanded="false">
                        {{ user.name }}&nbsp;&nbsp;<i class="glyphicon glyphicon-th-list"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <a href="{{ url_for('bpWork.landing') }}"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Professor</a>
                        </li>
                        <li><a href="{{ url_for('logout') }}"><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>&nbsp;&nbsp;Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="text-align:center; margin-top:5%">
            <img src="/internet/static/css/img/ladybug.png" width="110px" height="95px"><br><br>
        </div>
        <h1 style="text-align:center;">Gestió d'aules</h1>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
            <h2 style="text-align:center;">Afegir aula</h2><hr>
                <div style="text-align:center;" class="form-inline">
                    <input id="naula" type="text" class="form-control" placeholder="Nom de l'aula <aula_nom>">
                    <input id="nip" type="text" class="form-control" placeholder="IP"  minlength="7" maxlength="14">
                    <button onclick="add_aula()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Afegir</button>
                </div>
            <h2 style="text-align:center;">Eliminar aula</h2><hr>
                <div style="text-align:center;">
                    <select value="daules" id="daules" style="text-align:center" class="selectpicker show-tick" data-show-subtext="true" data-live-search="true">
                            {% for keys,valor in dades.aules.items() %}
                                <option id="{{valor.id}}" value={{valor.id}}>{{ keys }}</option>
                            {% endfor %}
                    </select>
                    <button onclick="remove_aula()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</button>
                    <br>
                </div>
            <h2 style="text-align:center;">Afegir interval</h2><hr>
                <div style="text-align:center;">
                    <select id="interval" style="text-align:center" class="selectpicker show-tick">
                        {% for hora in dades.intervals %}
                          <option value={{hora.key}}>{{ hora.value }}</option>
                        {% endfor %}
                    </select>
                    <select id="dia" class="selectpicker show-tick">
                    {% for dia in dies %}
                        <option value={{dia.key}}>{{dia.value}}</option>
                    {% endfor %}
                    </select>
                    <select  id="aula" style="text-align:center" class="selectpicker show-tick" data-show-subtext="true" data-live-search="true">
                        {% for keys,valor in dades.aules.items() %}
                            <option value={{keys}}>{{ keys }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="new_rule()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Afegir</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
            <h2 style="text-align:center;">Intervals definits</h2><hr>
            <table id="drops" name="drops" style="text-align:center" class="table table-striped" width="100%" cellspacing="0">
                <thead>
                    <tr >
                        <th></th>
                        <th style="text-align:center">Aula</th>
                        <th style="text-align:center">Ip</th>
                        <th style="text-align:center">Buidar aula</th>
                    </tr>
                </thead>
            </table>
        </div>
                
    </body>
</html>
