<html>
    <head>
        <META charset="UTF-8">
        <TITLE>Internet</TITLE>
        <link href="/internet/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="/internet/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/internet/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/internet/static/bower_components/pnotify/dist/js/pnotify.custom.min.js"></script>
        <link href="/internet/static/bower_components/pnotify/dist/css/pnotify.custom.min.css" rel="stylesheet">
        <style>

            .divcentre {
                position: absolute;
                top: 45%;
                left:50%;
                transform: translate(-50%,-50%);
            }
        </style>
        <script src="/internet/static/js/aula_desconeguda.js"></script>
    </head>
    <body>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="margin-top:2%">
            <ul class="nav navbar-nav navbar-right" style="margin-right:2%">
                <li>
                    <button class="btn btn-default btn-lg grey" data-toggle="dropdown" aria-expanded="false">
                        {{ user.name }}&nbsp;&nbsp;<i class="glyphicon glyphicon-th-list"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        {% if user.role == 'admin' %}
            			<li>
                            <a href="{{ url_for('bpAdmin.admin') }}"><i class="glyphicon glyphicon-star-empty"></i>&nbsp;&nbsp;Admin</a>
            			</li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}"><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>&nbsp;&nbsp;Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row divcentre">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="text-align:center;">
                <img src="/internet/static/css/img/ladybug.png" width="110px" height="95px">
            </div>
            <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2">
            </div>
            <div class="col-sm-8 col-md-8 col-xs-8 col-lg-8 text-center">
                <h1>Et trobes en una aula desconeguda pel sistema.</h1><br>
                <h4>Per tal de poder controlar l'aula demaneu-ne l'activació:</h4>
                    <div class="input-group" style="margin:25px">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                        <input id="aula" type="text" class="form-control" style="width: 100%" name="text" placeholder="Nom d'aula">
                    </div>
                    <button onclick="enviar_email()" id="boton_enviar" class="btn btn-success"><span class="glyphicon glyphicon-send"></span>&nbsp&nbspDemanar activació</button>
                    <br><br>
                </div>
            <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2">
            </div>
        </div>
    </body>
</html>
