<html>
    <head>
        <META charset="UTF-8">
        <TITLE>Internet</TITLE>
        <link href="/internet/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="/internet/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/internet/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="/internet/static/bower_components/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet">
        <script src="/internet/static/bower_components/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
        <script src="/internet/static/bower_components/pnotify/dist/js/pnotify.custom.min.js"></script>
        <link href="/internet/static/bower_components/pnotify/dist/css/pnotify.custom.min.css" rel="stylesheet">
        <style>

            .hover-btn {
                display: none;
            }

            tr:hover .hover-btn {
                display: block;
            }

            td {
                width: 15%;
            }

            .grey {
                color:
            }

        </style>
        <script src="/internet/static/js/landing.js"></script>
    </head>
    <body>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="margin-top:2%">
            <ul class="nav navbar-nav navbar-right" style="margin-right:2%">
                <li>
                    <button class="btn btn-default btn-lg grey" data-toggle="dropdown" aria-expanded="false">
                        {{ user.name }}&nbsp;&nbsp;<i class="glyphicon glyphicon-th-list"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        {% if user.role == 'admin' %}
            			<li>
                            <a href="{{ url_for('bpAdmin.admin') }}"><i class="glyphicon glyphicon-star-empty"></i>&nbsp;&nbsp;Admin</a>
            			</li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}"><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>&nbsp;&nbsp;Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="text-align:center; margin-top:5%">
            <img src="/internet/static/css/img/ladybug.png" width="110px" height="95px"><br><br>
        </div>
        <div class="row" style="margin: 0 20px">
            <h1 style="text-align:center;" >Gestió de {{ dades.aula }}</h1>
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                <h2 style="text-align:center;">Afegir interval</h2>
                <hr>
                    <select id="interval" style="text-align:center" class="selectpicker show-tick">
                        {% for hora in dades.intervals %}
                          <option value={{hora.key}}>{{ hora.value }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <select id="dia" class="selectpicker show-tick" data-width="75%">
                    {% for dia in dies %}
                        <option value={{dia.key}}>{{dia.value}}</option>
                    {% endfor %}
                    </select>
                    <br><br>
                    <button onclick="new_rule()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Afegir</button><br><br>
                    <button onclick="remove_all()" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar tots els intervals</button>
            </div>
       <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
            <h2 style="text-align:center;">Intervals</h2>
            <hr>
            <table class="table table-striped" id="drops">
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Interval</th>
                        <th></th>
                    </tr>
                </thead>
                {% for valor in dades.drops %}
                  <tr id="{{valor.id.split('*')[1]}}">
                    {% for dia in dies %}
                        {% if dia.key == valor.time.split(',')[1] %}
                            <td> {{ dia.value }} </td>
                        {% endif %}
                    {% endfor %}
                    <td>{{valor.time.split(',')[0]}}</td>
                    <td>
                        <div class="hover-btn">
                            <button onclick="remove_rule('{{valor.id}}')" style="text-align: center" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
        </div>
    </body>
</html>
